{erl_opts, [{parse_transform, lager_transform},{inclue,"./include"}]}.

{deps_dir, ["deps"]}.

{deps, [
    % {tag, "2.0.3"}
    {lager, ".*", {
        git, "git://github.com/basho/lager.git", "master"}
    },
    {ranch, ".*", {
        git, "https://github.com/ninenines/ranch.git",  "master"}
    },
    {sync, ".*", {
        git, "git://github.com/rustyio/sync", "master"}
    }

 ]}.
